@using MT.Web.Infrastructure.Extensions
@model MT.ModelEntities.Entities.User

@{
    ViewBag.Title = "Create";
    var formName = "editForm";
}

<h2>Create</h2>
<div id="main" ng-controller="createTestController">
    <form id="@formName" name="@formName" validable-form>
        <div class="form-horizontal">
            <h4>User</h4>
            <hr />

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxDirectiveFor(model => model.UserName, new {ng_model = "userName"})
                </div>
            </div>
            <div>
                {{test}}
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ButtonDirective("Create", new
                        {
                            ng_click = String.Format("create('{0}')", formName)
                        })
                    
                </div>
            </div>
        </div>
    </form>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>
<script src="~/Views/Test/CreateController.js"></script>
