@using MT.Web.Infrastructure.Extensions
@model MT.ModelEntities.Entities.ProjectRequest
@{
    ViewBag.Title = "PostYourRequest";
    var date = new DateTime();
}

<h2>Post Your Request</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Id)
    <br />
    @Html.LabelFor(x => x.Name)<br />
    @Html.TextBoxDirectiveFor(x => x.Name, new { @style = "width: 300px" })<br />
    <br />
    @Html.LabelFor(x => x.Description)@:&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 10px">Need help? Browse our <a href="">Templates</a></span><br />
    @Html.TextAreaFor(x => x.Description, 4, 50, null)<br />
    <br />
    @:Location, Privacy and Other Options<br />
    <br />
    @Html.LabelFor(x => x.RequestPostingVisibility)<br />
    @Html.RadioButtonFor(x => x.RequestPostingVisibility, false)@: Public - Visibile to everyone in the community<br />
    @Html.RadioButtonFor(x => x.RequestPostingVisibility, true)@: Private - Do not show on MT requests list. Only candidates I invite can respond<br />
    <br />
    @Html.LabelFor(x => x.PreferredCandidateLocation)<br />
    @Html.CheckBoxFor(x => x.PreferredCandidateLocation)@: I prefer candidates from certain location(s)<br />
    <br />
    @Html.LabelFor(x => x.PostPeriod)<br />
    @Html.TextBoxFor(x => x.PostPeriod, new { type = "date" })@:<br />
    <br />
    @Html.LabelFor(x => x.StartDate)<br />
    @Html.TextBoxFor(x => x.StartDate, new { type = "date" })@: Start immediately after proposal is selected<br />
    @: Request will start on<br />
    <br />
    <input type="submit" value="Сохранить" />
}