@using MT.Web.Infrastructure.Extensions

<div class="col-sm-3 col-md-2 sidebar">
    <ul>
        <li>
            @Html.ActionLinkDirective("Личные данные", "test", "test")
        </li>
        <li>
            @Html.ActionLinkDirective("Контактная информация", "test", "test")
        </li>
        <li>
            @Html.ActionLinkDirective("Образование", "test", "test")

        </li>
        <li>
            @Html.ActionLinkDirective("Опыт работы", "test", "test")
        </li>
        <li>
            @Html.ActionLinkDirective("Изменить пароль", "test", "test")
        </li>
    </ul>
</div>

