@using MT.Web.Infrastructure.Extensions
@model MT.Web.ViewModels.UserAuthorization

@{
    ViewBag.Title = "Log in";
    const string formName = "userLoginForm";
}

<h2>User Login</h2>

<div id="main" ng-controller="loginController" ng-init="returnUrl ='@ViewBag.ReturnUrl'">
    <form id="@formName" name="@formName" validable-form>
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxDirectiveFor(model => model.Email, new { ng_model = "user.email" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxDirectiveFor(model => model.Password, new { ng_model = "user.password", @type = "password" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ButtonDirective("Login", new
                    {
                        ng_click = String.Format("login('{0}')", formName)
                    })

                </div>
            </div>
        </div>
    </form>
</div>
<script src="~/Views/Account/LoginController.js"></script>

